Meeting_Insights___Follow_Up_Automation_Agent.json
{
  "name": "Meeting Insights & Follow-Up Automation Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "571cc580-f311-4079-abda-f5e067bec0c2",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "bd0339f1-9cae-4d26-af53-bc707c0b7a13",
      "name": "Webhook",
      "webhookId": "571cc580-f311-4079-abda-f5e067bec0c2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mindcraft-kapidhwaj-openai-api-key.openai.azure.com/openai/deployments/mindcraft-gpt4o/chat/completions?api-version=2024-12-01-preview",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api-key",
              "value": "8WxLaoodYxa7XSK2rCiWuP3nqwWUShSUVd5FrjEYSqqROfIwc0qzJQQJ99BFAC77bzfXJ3w3AAABACOGweqQ"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Summarize the meeting and create a to-do list for each participant:\\n\\n{{ $json.body.transcript }}\"\n    }\n  ],\n  \"temperature\": 0.7\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "c72a9aea-05cf-4d57-b779-0293358e877d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "186e7b81-b9a0-4370-baba-ad9ae6837b70",
              "name": "response",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        0
      ],
      "id": "c02b94e0-ddc3-423c-82f8-e4caaf6dc7fe",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        880,
        0
      ],
      "id": "7c4cc0e8-9d04-4ab5-8a19-b9ecab0c49c0",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "nikhilakattamuri99@gmail.com",
          "mode": "list",
          "cachedResultName": "nikhilakattamuri99@gmail.com"
        },
        "additionalFields": {
          "description": "=AI Summary: {{ $json.response }}\n",
          "summary": "={{ $json.response }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        660,
        0
      ],
      "id": "c66bb4c2-e681-4b17-baa8-89b09e5c5467",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ojO1omalweUkBOu4",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "709d25af-4ca1-489d-9174-2e0d4ed83fc4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "15d5a47bff192b03878f2799b71ad74222e55c8e555327d5681d75b45d7ea02f"
  },
  "id": "wxMOvF0Gh0dEswKx",
  "tags": []
}